*{
    margin:0;
    padding:0;
    font-family:cursive;
    box-sizing: border-box;
}
body{
    background-image: url("C:/Users/DELL/Pictures/todoback.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: cursive;
}
#datetime
{
    margin-left: 400px;
    font-family: cursive;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
    font-family: "cursive";
}
.txtb
{
    width: 100%;
    border:none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline:none;
    font-size: 18px;
    font-family: cursive;
}
.h3
{
    margin: 10px 0;
}
.task{
    width:100%;
    background: rgba(255,255,255,0.5);
    padding: 18px;
    margin:6px 0;
    overflow: hidden;
    position: sticky;
}
.dt
{
    float: right;
}
.task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
    position: sticky;
}
.comp .task{
    background: rgba(0,0,0,0.5);
    color:#fff;
    font-family: "cursive";
    text-decoration: line-through;
}